.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-info {
  margin: auto;
}

.movie {
  width: 70%;
}

.movie-item {
  flex-basis: calc(26.33% - 20px);
  margin: auto;
}

.movie-poster {
  position: relative;
  display: inline-block;
}

.movie-poster img {
  width: 150%;
  height: auto;
  display: block;
}

.movie-overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 139%;
  height: 21%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  display: flex;
  flex-direction: column;
}

.movie-overlay h3 {
  margin: 0;
  padding: 5px 0;
  font-size: 21px;
  text-align: start;
}

h2 {
  font-size: 24px;
  margin-left: 20px;
  padding-top: 20px;
}

.best-movie-img {
  width: 200px;
  height: auto;
  margin-right: 30px;
  flex-shrink: 0;
}

.movie-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 300px;
}

#best-movie h2 {
  display: block;
  text-align: center;
  font-size: 28px;
}

.details-best-movie-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.movie-content {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
}

.best-movie-container h3 {
  display: block;
  position: relative;
  flex-direction: column;
}

.details-best-movie-button:hover {
  background-color: #cc0000;
}

#logo {
  width: 1000px;
  height: auto;
  margin: auto;
  display: block;
  padding-top: 20px;
}

#best-movies,
#movie-category-1,
#movie-category-2,
#category-selector {
  margin-right: 200px;
  margin-left: 200px;
  max-width: 1600px;
  padding-left: 100px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.details-button {
  position: absolute;
  top: 65px;
  left: 84%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.418); /* Semi-transparent background */
  color: white;
  border: none;
  width: 80px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 17px;
  font-weight: 600;
}

.details-button:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Darker on hover */
}

.movie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid black;
  z-index: 1000;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.popup-title{
  font-size: 28px;
  text-align: start;
  align-items: center;
}

.popup-main-content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.popup-image{
  flex-shrink: 0;
  width: 150px;
  height: auto;
  margin-left: 100px;
  align-items: start;
}


.popup-description {
  font-size: 16px;
  flex-grow: 1;
}



.movie-synopsis {
  margin-top: 10px;
}

.popup-actors {
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
}

.close-popup-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
  transition: background-color 0.3s;
}



.popup-header{
  display: flex;
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.4;
  flex-direction: row;
}




#category-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

#category-select:hover {
  border-color: #888;
}

#category-select:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.show-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* adjustement for phone screen  */
@media (max-width: 480px) {
  .movie-list {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .movie-item {
    flex-basis: 100%;
    width: 90%;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
  }

  .movie-poster {
    width: 100%;
    height: auto;
    position: relative;
  }

  .movie-poster img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .movie-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .movie-overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    color: white;
  }

  .details-button {
    position: absolute;
    top: 8vh;
    left: 44vw;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }

  .details-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .best-movie h2 {
  }
}

/* adjustement for tablette screen  */
@media (max-width: 811px) {
  .movie-item {
    flex-basis: calc(50% - 20px);
  }

  #logo {
    width: 600px;
    margin-bottom: 20px;
  }

  .best-movie-img {
    width: 50%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .movie-info {
    max-width: 100%;
    text-align: center;
  }

  .details-best-movie-button {
    width: 50%;
    text-align: center;
    margin-top: 15px;
  }

  .show-more {
    display: block;
    margin: 20px auto;
  }

  .movie-item.hidden {
    display: none;
  }

  #best-movies,
  #movie-category-1,
  #movie-category-2,
  #category-selector {
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 20px;
    margin-top: 20px;
  }
}
