/* Logo */
#conteneur-logo {
  width: 50vw;
  min-width: 104%;
  margin-left: 10%;
  max-width: 200px;
  overflow: hidden;
  margin-bottom: -25%;
  margin-left: 3%;
  overflow: hidden;
}


/* Styles pour l'image du logo */
#logo {
  position: relative;
  width: 90%;
  min-width: 90%;
  height: 15vh;
  max-height: 500px;
  object-fit: fill;
  object-position: left;
}

/* Titres */
h2 {
  font-size: 24px;
  margin-left: 3.7%;
  padding-top: 20px;
}

#best-movie {
  margin-top: 25%;
}

/* Sections de films */
#best-movies,
#movie-category-1,
#movie-category-2,
#category-selector {
  margin-right: 2%;
  margin-left: 2%;
  max-width: 160%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Liste de films */
.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-item {
  flex-basis: calc(26.33% - 20px);
  margin: auto;
}

/* Affiches de films */
.movie-poster {
  position: relative;
  display: inline-block;
}

#image-not-found {
  width: 100%;
}

.movie-poster img {
  width: 200%;
  height: auto;
  display: block;
}

.movie {
  width: 70%;
}

/* Overlay des affiches */
.movie-overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 112%;
  height: 23%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  display: flex;
  flex-direction: column;
}

.movie-overlay h3 {
  margin: 0;
  padding: 5px 0;
  font-size: 21px;
  text-align: start;
}

/* Boutons de détails */
.details-button {
  position: absolute;
  top: 50px;
  left: 80%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
  border: none;
  width: 80px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 17px;
  font-weight: 600;
}

.details-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Meilleur film */

.movie-content {
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-style: solid;
  margin: 20px 2%;
  padding: 20px;
  max-width: 93%;
  border-radius: 10px;
}

.movie-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 800px;
}

.details-best-movie-button {
  background-color: #ff0000;
  color: white;
  border: none;
  margin-left: 68%;
  margin-top: 70px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.details-best-movie-button:hover {
  background-color: #cc0000;
}

/* Popup de détails */
.movie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid black;
  z-index: 1000;
  max-width: 90%;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.popup-header {
  display: flex;
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.4;
  flex-direction: row;
}

.popup-title {
  font-size: 28px;
  text-align: start;
  align-items: center;
  padding-right: 30px;
}

.popup-image {
  flex-shrink: 0;
  width: 150px;
  height: auto;
  margin-left: 65px;
  align-items: start;
}

.popup-main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.popup-description {
  font-size: 16px;
  flex-grow: 1;
}

.movie-synopsis {
  margin-top: 10px;
}

.popup-actors {
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
}

.close-popup-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
  transition: background-color 0.3s;
}

.popup-close-icon {
  display: none;
}

/* Sélecteur de catégorie */
#category-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  line-height: 1.6;
}

#category-select:hover {
  border-color: #888;
}

#category-select:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Bouton "Voir plus" */
.show-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Styles pour les écrans de téléphone */
@media (max-width: 600px) {

  #best-movies,
  #movie-category-1,
  #movie-category-2,
  #category-selector {
    margin-right: 3.5%;
    margin-left: 3.5%;
    padding-left: 6%;
    padding-right: 6%;
  }

  /* Layout général */
  .movie-list {
    flex-direction: row;
  }

  .movie-item {
    flex-basis: 100%;
    width: 90%;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
  }

  /* Affiches de films */
  .movie-poster {
    width: 85%;
    height: auto;
    position: relative;
  }

  .movie-poster img {
    width: 100%;
    height: auto;
    margin-left: 13%;
    justify-content: center;
    max-width: 320px;
  }

  /* Overlay des affiches */
  .movie-overlay {
    left: 13%;
    width: 91%;
    max-width: 298px;
  }

  .movie-overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    color: white;
  }

  /* Boutons de détails */
  .details-button {
    top: 7vh;
    left: 80%;
    padding: 8px 15px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }

  .details-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Meilleur film */
  .best-movie-img {
    width: 60%;
    margin-left: 20%;
    padding-top: 15px;
  }

  .movie-content {
    display: block;
    width: 91%;
    height: 10%;
    padding: 0.5%;
  }

  .movie-info {
    padding: 0;
  }

  .movie-info h3 {
    font-size: x-large;
    text-align: center;
  }

  .movie-info p {
    text-align: center;
    padding: 0 10% 0 10%;
    font-size: 17px;
  }

  .details-best-movie-button {
    position: relative;
    right: 35%;
    bottom: 30px;
  }

  /* Logo */
  #conteneur-logo {
    width: 90vw;
    aspect-ratio: 1 / 1;
    /* Faire un carré */
    margin-bottom: -50%;
    margin-right: 2%;
  }

  #logo {
    object-fit: cover;
    object-position: left center;
    width: 69%;
    height: 50%;
    max-height: 60%;
    min-width: 84%;
    left: 2%;

  }

  #best-movie {
    margin-top: -10%;
  }

  /* Popup */
  .movie-popup {
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 5px solid black;
    max-width: 250px;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  .details-best-movie-button {
    margin-left: 78%;
  }

  .show-more {
    display: block;
    /* ou flex, selon vos préférences de mise en page */
    margin: 20px auto;
  }


}

@media (max-width: 420px) {
  #conteneur-logo {
    width: 90vw;
    aspect-ratio: 1 / 1;
    /* Faire un carré */
    margin-bottom: -30%;
  }

  #logo {
    object-fit: cover;
    /* Rogne l'image pour remplir le carré */
    object-position: left center;
    /* Ajuster la partie visible */
    width: 69%;
    height: 62%;
    max-height: 250px;
  }
}

@media (max-width: 800px) {

  /* Popup */
  .movie-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 5px solid black;
    z-index: 1000;
    max-width: 300px;
    width: 65%;
    height: 700px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  .popup-details {
    flex-direction: column;
    align-items: center;
  }

  .popup-header {
    flex-direction: column;
    align-items: center;
  }

  .popup-info {
    margin-bottom: 30px;
  }

  .popup-title {
    font-size: 28px;
    margin-top: -30px;
    margin-left: 33px;
    margin-bottom: 0;
    text-align: center;
  }

  .movie-info {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .popup-image {
    width: 55%;
    height: auto;
    margin-top: -50px;
    margin-right: 40%;
    margin-left: 40%;
  }

  .director {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .popup-main-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .popup-description {
    margin-bottom: 30px;
    text-align: center;
  }

  .movie-synopsis {
    font-size: 16px;
    margin-bottom: -30px;
  }

  .popup-actors {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }

  .popup-close-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #ff0000;
    cursor: pointer;
    line-height: 1;
    font-weight: bold;
  }

  .close-popup-button {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .movie-item.hidden {
    display: none;
  }
}

@media (min-width: 600px) {
  .best-movie-img {
    min-width: 220px;
    margin-left: 2.9%;
  }

  .movie-poster img {
    width: 123%;
  }

  .movie-info h3 {
    font-size: xx-large;
    padding: 0 19%;
  }

  .movie-info p {
    font-size: x-large;
    padding: 0 19%;
  }

  #best-movie h2 {
    margin-left: 7.8%;
    font-size: xx-large;
  }

  h2 {
    margin-left: 4%;
    font-size: xx-large;
  }
}



@media (min-width: 1800px) {
  .movie-poster img {
    width: 180%;
  }

  .best-movie-img {
    width: 320px;
    margin-left: 3.5%;
  }

  .movie-overlay {
    width: 307px;
  }

  #logo {
    position: relative;
    width: 91%;
    min-width: 90%;
    height: 21vh;
    max-height: 140px;
    object-fit: fill;
    object-position: left;
  }
}

/* Styles pour les tablettes */
@media (min-width: 600px) and (max-width: 900px) {

  /* Layout général */
  .movie-item {
    flex-basis: calc(50% - 100px);
  }

  .movie-item.hidden {
    display: none;
  }

  #best-movies,
  #movie-category-1,
  #movie-category-2,
  #category-selector {
    margin-right: 3.5%;
    margin-left: 3.5%;
    margin-top: 20px;
  }

  /* Titres */
  #best-movies h2,
  #movie-category-1 h2,
  #movie-category-2 h2,
  #category-selector h2,
  #best-movie h2 {
    margin-right: 13%;
    text-align: center;
  }

  /* Meilleur film */
  .movie-content {
    margin-right: 3.5%;
    margin-left: 3.5%;
    margin-top: 20px;
  }

  .best-movie-img {
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 5%;
  }

  .movie-info {
    min-width: 300px;
    text-align: center;
  }

  .details-best-movie-button {
    text-align: start;
    margin-left: 41%;
    margin-top: 10%;
  }

  /* Bouton "Voir plus" */
  .show-more {
    display: flex;
    align-items: center;
  }
}