/* Logo */
#logo-tablette-pc {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  padding-top: 20px;
}

/* Titres */
h2 {
  font-size: 24px;
  margin-left: 3.7%;
  padding-top: 20px;
}

/* Sections de films */
#best-movies,
#movie-category-1,
#movie-category-2,
#category-selector {
  margin-right: 10%;
  margin-left: 10%;
  max-width: 160%;
  padding-left: 100px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Liste de films */
.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-item {
  flex-basis: calc(26.33% - 20px);
  margin: auto;
}

/* Affiches de films */
.movie-poster {
  position: relative;
  display: inline-block;
}

#image-not-found {
  width: 100%;
}

.movie-poster img {
  width: 150%;
  height: auto;
  display: block;
}

.movie {
  width: 70%;
}

/* Overlay des affiches */
.movie-overlay {
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 253px;
  height: 21%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  display: flex;
  flex-direction: column;
}

.movie-overlay h3 {
  margin: 0;
  padding: 5px 0;
  font-size: 21px;
  text-align: start;
}

/* Boutons de détails */
.details-button {
  position: absolute;
  top: 65px;
  left: 84%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
  border: none;
  width: 80px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 17px;
  font-weight: 600;
}

.details-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Meilleur film */
#best-movie h2 {
  margin-left: 18.8%;
}

.best-movie-img {
  width: 18%;
  height: auto;
  margin-left: 140px;
  flex-shrink: 0;
}

.movie-content {
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-style: solid;
  margin: 20px auto;
  padding: 20px;
  max-width: 78%;
  border-radius: 10px;
}

.movie-info {
  margin: auto;
}

.movie-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 800px;
}

.details-best-movie-button {
  background-color: #ff0000;
  color: white;
  border: none;
  margin-left: 700px;
  margin-top: 70px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.details-best-movie-button:hover {
  background-color: #cc0000;
}

/* Popup de détails */
.movie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid black;
  z-index: 1000;
  max-width: 90%;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.popup-header {
  display: flex;
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.4;
  flex-direction: row;
}

.popup-title {
  font-size: 28px;
  text-align: start;
  align-items: center;
  padding-right: 30px;
}

.popup-image {
  flex-shrink: 0;
  width: 150px;
  height: auto;
  margin-left: 65px;
  align-items: start;
}

.popup-main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.popup-description {
  font-size: 16px;
  flex-grow: 1;
}

.movie-synopsis {
  margin-top: 10px;
}

.popup-actors {
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
}

.close-popup-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
  transition: background-color 0.3s;
}

.popup-close-icon {
  display: none;
}

/* Sélecteur de catégorie */
#category-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  line-height: 1.6;
}

#category-select:hover {
  border-color: #888;
}

#category-select:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Bouton "Voir plus" */
.show-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Ajustements pour les petits écrans */
@media (max-width: 489px) {

  #best-movies,
  #movie-category-1,
  #movie-category-2,
  #category-selector {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    margin-top: 20px;
  }
}

/* Styles pour les écrans de téléphone */
@media (max-width: 480px) {

  /* Layout général */
  .movie-list {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .movie-item {
    flex-basis: 100%;
    width: 90%;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
  }

  /* Affiches de films */
  .movie-poster {
    width: 100%;
    height: auto;
    position: relative;
  }

  .movie-poster img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* Overlay des affiches */
  .movie-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .movie-overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    color: white;
  }

  /* Boutons de détails */
  .details-button {
    position: absolute;
    top: 8vh;
    left: 60vw;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }

  .details-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Meilleur film */
  .best-movie-img {
    min-width: 90%;
    margin-right: 10%;
  }

  .movie-content {
    display: block;
    width: 80%;
    height: 700px;
  }

  .movie-info {
    padding: 0;
  }

  .movie-info p,
  .movie-info h3 {
    text-align: center;
    padding-right: 5%;
  }

  .details-best-movie-button {
    position: relative;
    right: 35%;
    bottom: 30px;
  }

  /* Logo */
  #logo-smartphone {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 5%;
  }

  /* Popup */
  .movie-popup {
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 5px solid black;
    max-width: 200px;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

}

/* Styles pour les tablettes */
@media screen and (max-width: 820px) {

  /* Layout général */
  .movie-item {
    flex-basis: calc(50% - 20px);
  }

  .movie-item.hidden {
    display: none;
  }

  #best-movies,
  #movie-category-1,
  #movie-category-2,
  #category-selector {
    margin-right: 3.5%;
    margin-left: 3.5%;
    padding-left: 6%;
    margin-top: 20px;
  }

  /* Titres */
  #best-movies h2,
  #movie-category-1 h2,
  #movie-category-2 h2,
  #category-selector h2,
  #best-movie h2 {
    margin-right: 13%;
    text-align: center;
  }

  /* Logo */
  #logo-tablette-pc {
    width: 93%;
  }

  /* Meilleur film */
  .movie-content {
    max-width: 88%;
  }

  .best-movie-img {
    width: 39%;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 4.5%;
  }

  .movie-info {
    min-width: 300px;
    text-align: center;
  }

  .details-best-movie-button {
    text-align: start;
    margin-left: 70%;
    margin-top: 10%;
  }

  /* Popup */
  .movie-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 5px solid black;
    z-index: 1000;
    max-width: 300px;
    width: 65%;
    height: 700px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  .popup-details {
    flex-direction: column;
    align-items: center;
  }

  .popup-header {
    flex-direction: column;
    align-items: center;
  }

  .popup-info {
    margin-bottom: 30px;
  }

  .popup-title {
    font-size: 28px;
    margin-top: -30px;
    margin-left: 33px;
    margin-bottom: 0;
    text-align: center;
  }

  .movie-info {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .popup-image {
    width: 55%;
    height: auto;
    margin-top: -50px;
    margin-right: 40%;
    margin-left: 40%;
  }

  .director {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .popup-main-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .popup-description {
    margin-bottom: 30px;
    text-align: center;
  }

  .movie-synopsis {
    font-size: 16px;
    margin-bottom: -30px;
  }

  .popup-actors {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }

  .popup-close-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #ff0000;
    cursor: pointer;
    line-height: 1;
    font-weight: bold;
  }

  .close-popup-button {
    display: none;
  }

  /* Bouton "Voir plus" */
  .show-more {
    display: flex;
    align-items: center;
  }
}